@model List<_1670.Models.Cart>

@{
    ViewData["Title"] = "ListCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int index = 0;
    double total = 0;
}

<style>
    td, th {
        padding: 10px;
    }
</style>

<script src="~/js/jquery.min.js"></script>
@if(Model.Count > 0)
{
    <div class="row">
        <div class="col-md-8 list-card">
            <table class="table">
                <tr>
                    <th>STT</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total Price</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                    index++;
                    string txt_class = "quantity_" + item.Product.Id;
                    double sub_total = item.Product.Price * item.Quantity;
                    total += sub_total;
                    <tr>
                        <td>@index</td>
                        <td><img src="~/images/@item.Product.Image" width="100" height="100" /></td>
                        <td>@item.Product.Name</td>
                        <td><input type="number" class="@txt_class" value="@item.Quantity" /></td>
                        <td>@item.Product.Price</td>
                        <td>@sub_total</td>
                        <td><a href="" data-id="@item.Product.Id" class="updateCart">Update</a></td>
                        <td><a asp-controller="Cart" asp-action="DeleteCart" asp-route-id="@item.Product.Id">Delete</a></td>

                    </tr>
                }
            </table>
        </div>
    </div>

    <div class="col-md-4">
        <p>Check out</p>
        <p>@total</p>
    </div>
    <form asp-action="MakeOrder">
        <input type="hidden" name="id" />
        <input type="hidden" name="id" />
        <div class="form-group mt-3">
            <input type="submit" class="btn btn-success" value="Make Order"
                   onclick="return confirm('Are you sure to request this order ?');" />
        </div>
    </form>

    @section Scripts{
    <script>
        $(document).ready(function () {
            $(".updateCart").click(function (event) {
                event.preventDefault();
                var quantity = $(".quantity_" + $(this).attr("data-id")).val();
                console.log(quantity);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("updateCart", "Cart")",
                    data: {
                        id: $(this).attr("data-id"),
                        quantity: quantity
                    },
                    success: function (result) {
                        window.location.href = '@Url.Action("ListCart", "Cart")';
                    }
                });
            });
        });
    </script>
    }
    

}
else
{
    <p class="alert alert-danger">No book added!</p>
}
@*<div class="list-cart">
    <table class="cart" border="1">
        <tr>
            <th>STT</th>
            <th>Name</th>
            <th>Image</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        @{
            int STT = 0;
            foreach (var item in ViewBag.carts)
            {
                string txt_class = "quantity_" + item.Product.Id;
                STT++;

                decimal total = item.Product.Price * item.Quantity;

                <tr>
                    <td>@STT</td>
                    <td>@item.Product.Name</td>
                    <td><img src="~/images/@item.Product.Image" width="100" height="100" /></td>
                    <td><input type="number" class="@txt_class" value="@item.Quantity" /></td>
                    <td>@item.Product.Price</td>
                    <td>@total</td>
                    <td><a href="" data-id="@item.Product.Id" class="updateCart">Update</a></td>
                    <td><a asp-controller="Cart" asp-action="deleteCart" asp-route-id="@item.Product.Id">Delete</a></td>
                </tr>
            }
        }

    </table>
</div>*@

